In [2]:
#dictionries
my_dict = {'key1':'value','key2':'value2'}

In [3]:
my_dict

{'key1': 'value', 'key2': 'value2'}

In [4]:
#call values by their key
my_dict['key2']

'value2'

In [5]:
my_dict ={'roll_number':123,'marks':[12,23,33],'Subject':['computer','science','maths']}

In [6]:
#lets call items for the dictionery
my_dict['Subject']

['computer', 'science', 'maths']

In [7]:
#can call an index on that values
my_dict['Subject'][1]

'science'

In [8]:
#can the even call method on that values
my_dict['Subject'][0].upper()

'COMPUTER'

In [9]:
my_dict['Subject'][0].lower()

'computer'

In [10]:
my_dict['marks']

[12, 23, 33]

In [16]:
#add marks to first element
my_dict['marks'][0] = my_dict['marks'][0]+30

In [17]:
#check
my_dict['marks']

[132, 23, 33]

In [18]:
my_dict['marks'][2]+=20

In [19]:
my_dict['marks']

[132, 23, 53]

In [20]:
#substracting
my_dict['marks'][2]-=10

In [21]:
my_dict['marks']

[132, 23, 43]

In [22]:
#Add new key
my_dict['Year'] = '3rd'

In [23]:
my_dict

{'roll_number': 123,
 'marks': [132, 23, 43],
 'Subject': ['computer', 'science', 'maths'],
 'Year': '3rd'}

In [30]:
#update value
my_dict.update({'roll_number':100})

In [31]:
my_dict

{'roll_number': 100,
 'marks': [132, 23, 43],
 'Subject': ['computer', 'science', 'maths'],
 'Year': '3rd',
 'Roll_number': 100}

In [32]:
my_dict.keys()

dict_keys(['roll_number', 'marks', 'Subject', 'Year', 'Roll_number'])

In [33]:
my_dict.values()

dict_values([100, [132, 23, 43], ['computer', 'science', 'maths'], '3rd', 100])

In [34]:
#if - elif -else
i = 9
if i <10:
    print('it is less than 10')
else:
    print('it is something else')

it is less than 10

In [35]:
#you can also write in this way
print('it is less than 10') if i < 10 else print('it is something else')

it is less than 10

In [42]:
item_1 =300
item_2 =250
if(item_1 + item_2)>=500:
     print('Your items are eligible for free shipping')
else:
    extra = 500 - (item_1 + item_2)
    print('Please add' , extra, 'Rs worth of an item for free shipping')

Your items are eligible for free shipping

In [44]:
a = 200
b = 33
c = 500
if a > b and c < a:
    print("Both conditions are True")
else:
    print("Both are not true")

Both are not true

In [50]:
a = 150
b = 50
c = 50
if a > b and c < a:
    print("A least one of the conditions are True")
else:
    print("Both are not true")

A least one of the conditions are True

In [52]:
marks = 30

if marks >= 60:
    if marks > 70:
        print(marks, '-Distinction')
    else:
        print(marks, '-First class')
        
elif marks > 50 and marks < 60:
            print(marks, '-Second class')

elif marks >= 35:
            print(marks, '-Pass')
else:
            print(marks, 'Fail-Better luck next time')

30 Fail-Better luck next time

In [53]:
marks = 80

if marks >= 60:
    if marks > 70:
        print(marks, '-Distinction')
    else:
        print(marks, '-First class')
        
elif marks > 50 and marks < 60:
            print(marks, '-Second class')

elif marks >= 35:
            print(marks, '-Pass')
else:
            print(marks, 'Fail-Better luck next time')

80 -Distinction

In [54]:
marks = 65

if marks >= 60:
    if marks > 70:
        print(marks, '-Distinction')
    else:
        print(marks, '-First class')
        
elif marks > 50 and marks < 60:
            print(marks, '-Second class')

elif marks >= 35:
            print(marks, '-Pass')
else:
            print(marks, 'Fail-Better luck next time')

65 -First class

In [55]:
marks = 59

if marks >= 60:
    if marks > 70:
        print(marks, '-Distinction')
    else:
        print(marks, '-First class')
        
elif marks > 50 and marks < 60:
            print(marks, '-Second class')

elif marks >= 35:
            print(marks, '-Pass')
else:
            print(marks, 'Fail-Better luck next time')

59 -Second class

In [57]:
num1 = 20
num2 = 30
if num1 == '20':
    print('its not 20')
elif num2 > 25:
    print('its greater than 25')

its greater than 25

In [63]:
# the range function
print(range(10))

range(0, 10)

In [64]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
roll_numbers = list(range(1,8))

In [61]:
roll_numbers

[1, 2, 3, 4, 5, 6, 7]

In [62]:
step_size = list(range(0,31,3))
step_size

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [65]:
incr_by_hund = list(range(100, 1601, 100))
incr_by_hund

[100,
 200,
 300,
 400,
 500,
 600,
 700,
 800,
 900,
 1000,
 1100,
 1200,
 1300,
 1400,
 1500,
 1600]

In [66]:
reverse = list(range(1600, -1, -100))
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200,
 100,
 0]

In [67]:
#Loops
#for loop
location = ['Bengaluru','Noida','Chennai','Hydrabad','Delhi']
print (location)

['Bengaluru', 'Noida', 'Chennai', 'Hydrabad', 'Delhi']

In [71]:
#list of string
location = ['Bengaluru','Noida','Chennai','Hydrabad','Delhi']

for city in location:
    print(city)

Bengaluru
Noida
Chennai
Hydrabad
Delhi

In [72]:
salary = [2000, 4000, 5000, 7000, 8000, 4500, 3800]
for val in salary:
    if val > 5500:
        print(val)

7000
8000

In [84]:
student_scores = [35, 67, 78, 79, 12, 34, 67, 54, 89 ]

for marks in student_scores:
    if marks > 60:
        if marks > 70:
            print(marks, '-Distinction')
    else:
        print(marks, '-First class')
        
    elif marks > 50 and marks <= 60:
            print(marks, '-Second class')

    elif marks >= 35:
            print(marks, '-Pass')
    else:
            print(marks, 'Fail-Better luck next time')

SyntaxError: invalid syntax (2373234069.py, line 10)