In [1]:
!pip3 install jedi==0.17.2

Collecting jedi==0.17.2
  Downloading jedi-0.17.2-py2.py3-none-any.whl (1.4 MB)
Collecting parso<0.8.0,>=0.7.0
  Downloading parso-0.7.1-py2.py3-none-any.whl (109 kB)
Installing collected packages: parso, jedi
  Attempting uninstall: parso
    Found existing installation: parso 0.8.3
    Uninstalling parso-0.8.3:
      Successfully uninstalled parso-0.8.3
  Attempting uninstall: jedi
    Found existing installation: jedi 0.18.1
    Uninstalling jedi-0.18.1:
      Successfully uninstalled jedi-0.18.1
Successfully installed jedi-0.17.2 parso-0.7.1

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.1.5 requires pyqt5<5.13, which is not installed.
spyder 5.1.5 requires pyqtwebengine<5.13, which is not installed.

In [2]:
#append
employee = []
employee

[]

In [3]:
employee.append('Radha')
print(employee)

['Radha']

In [4]:
employee.append('Ramesh')
employee.append('Salman')
print(employee)

['Radha', 'Ramesh', 'Salman']

In [5]:
#index and insert
#use double inverted quotation if your string has quotation
employee.insert(1,"D souza")
employee

['Radha', 'D souza', 'Ramesh', 'Salman']

In [6]:
#one more example wiyh number
emp_salary = [15000,28000,19000]
emp_salary

[15000, 28000, 19000]

In [7]:
emp_salary.insert(0,48000)
emp_salary

[48000, 15000, 28000, 19000]

In [8]:
len(employee)

4

In [9]:
#indexing and Slicing
employee

['Radha', 'D souza', 'Ramesh', 'Salman']

In [11]:
#Grab element based on index
employee[2]

'Ramesh'

In [12]:
employee[1]

'D souza'

In [13]:
emp_salary

[48000, 15000, 28000, 19000]

In [14]:
#update the data based on index
emp_salary[1]

15000

In [15]:
#Grab index 1 and everything past it
emp_salary[1:]

[15000, 28000, 19000]

In [16]:
#Grab everything up to index 2
emp_salary[:3]

[48000, 15000, 28000]

In [17]:
#Reassign to keep the data permenently
emp_salary + [25000]

[48000, 15000, 28000, 19000, 25000]

In [18]:
emp_salary

[48000, 15000, 28000, 19000]

In [19]:
#make the list double
emp_salary*2

[48000, 15000, 28000, 19000, 48000, 15000, 28000, 19000]

In [20]:
print('='* 90)

==========================================================================================

In [23]:
print('=' * 90)
print('                                       Data Trained                       ')
print('*' * 90)

==========================================================================================
                                       Data Trained
******************************************************************************************

In [24]:
#Again doubling not permanent
emp_salary

[48000, 15000, 28000, 19000]

In [26]:
#count
marks = [ 25,100,38,49,55,38,100,26,47,55,100,60,74,88,38,100]
mark.count(100)

NameError: name 'mark' is not defined

In [27]:
marks

[25, 100, 38, 49, 55, 38, 100, 26, 47, 55, 100, 60, 74, 88, 38, 100]

In [28]:
marks.index(100)

1

In [29]:
#extend
employee

['Radha', 'D souza', 'Ramesh', 'Salman']

In [30]:
employee.append(['Anu','Sapna'])
print(employee)

['Radha', 'D souza', 'Ramesh', 'Salman', ['Anu', 'Sapna']]

In [31]:
employee = ['Radha','Remo','Ramesh','Salman']
employee.extend(['Anu','Sapna'])
print(employee)

['Radha', 'Remo', 'Ramesh', 'Salman', 'Anu', 'Sapna']

In [34]:
#pop
students = ['Raj','Ram','Abid','Nancy','Fatima']

In [35]:
students

['Raj', 'Ram', 'Abid', 'Nancy', 'Fatima']

In [36]:
#deletes last element by default
pop_last = students.pop(1)
pop_last

'Ram'

In [37]:
#verify if its removed
students

['Raj', 'Abid', 'Nancy', 'Fatima']

In [38]:
students = ['Raj','Ram','Abid','Nancy','Fatima']

In [39]:
#deletes based on index position
pop_index = students.pop(1)
pop_index

'Ram'

In [40]:
#Verify if its removed
students

['Raj', 'Abid', 'Nancy', 'Fatima']

In [41]:
#remove
roll_number = [100,101,102,103,104,103]

In [42]:
#delete data (if there are duplicates, first element is deleted)
roll_number.remove(103)

In [43]:
print (roll_number)

[100, 101, 102, 104, 103]

In [44]:
lst = [1,2,3,4,3]

In [47]:
lst.reverse()

In [48]:
lst

[3, 4, 3, 2, 1]

In [49]:
marks = [25,38,49,55,38,26,47,55,60,74,88,38]
marks

[25, 38, 49, 55, 38, 26, 47, 55, 60, 74, 88, 38]

In [53]:
#by default sorts ascending order
marks.sort()
print (marks)

[25, 26, 38, 38, 38, 47, 49, 55, 55, 60, 74, 88]

In [55]:
#sort in descending order
marks.sort(reverse=True)
print(marks)

[88, 74, 60, 55, 55, 49, 47, 38, 38, 38, 26, 25]

In [56]:
#Constructing Tuples
#can create a tuple with mixed types
Work_location = ('Bengaluru','Noida','Chennai','Delhi')
Work_location

('Bengaluru', 'Noida', 'Chennai', 'Delhi')

In [57]:
type(Work_location)

tuple

In [58]:
emp_salary=(20000,35000,40000)
emp_salary

(20000, 35000, 40000)

In [59]:
Work_location.append('Hyderabad')

AttributeError: 'tuple' object has no attribute 'append'

In [60]:
#convert into list and reassign or you can store in new varible as per the need
Work_location = list(Work location)
Work_location

SyntaxError: invalid syntax (152790708.py, line 2)

In [62]:
type(Work_location)

tuple

In [63]:
#change the data
Work_location.append('Hyderabad')
Worl_location

AttributeError: 'tuple' object has no attribute 'append'

In [66]:
Work_location[1] = 'Kolkata'

TypeError: 'tuple' object does not support item assignment

In [67]:
#convert into tuple
Work_location = tuple(Work_location)

In [68]:
Work_location

('Bengaluru', 'Noida', 'Chennai', 'Delhi')

In [69]:
#Check Len just like a list
len(Work_location)

4

In [70]:
#use indexing just like we did in list
Work_location[1]

'Noida'

In [71]:
#slicingjust like a list
Work_location[2]

'Chennai'

In [72]:
numbers = (25,50,88,90,50)
numbers

(25, 50, 88, 90, 50)

In [73]:
#use count to count the number of times a value appears
numbers.count(50)

2

In [74]:
#uses .index to enter a value return the index
numbers.index(50)

1

In [75]:
#sets
roll_numbers = set()

In [76]:
type(roll_numbers)

set

In [78]:
#we add to set with the add () method
roll_number.add(1)
roll_number

{1}

In [81]:
#add a different element
roll_number.add(2)
roll_number

{1, 2}

In [82]:
#create a list with repeats
remove_dups = [8,5,6,9,1,1,2,2,3,4,5,6,1,1,7,7]

In [84]:
#cast as set to get unique values
dup_remove = set(remove_dups)
dups_remove

NameError: name 'dups_remove' is not defined

In [85]:
#again you can convert to list if you want (after removing duplicates)
remove_dups = list(dup_removed)
remove_dups

[1, 2, 3, 4, 5, 6, 7, 8, 9]