In [1]:
import pandas as pd

In [2]:
pd.read_csv(r'C:\Users\smita\Desktop\marks.csv')

   subject student name  marks
0    maths       manali     88
1  marathi      roshani     90
2  english        mukta     96
3  science     manjusha     95
4    hindi      rachana     89